# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Cihan\Desktop\hepsi-burada\Assignment-hepsi-burada\Recommendation-Team-Software-Data-Engineer-Assignment-\Hepsi-Burada-Recommendation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
